
{%- style -%}
 
{%- endstyle -%}

<div>
    <h1>Title</h1>
    <p>Descripcion</p>
    <a>Comprar</a>
</div>

{% schema %}
  {
    "name": "Banner Title Text Button",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Description"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button",
        "default": "Button"
      }
    ],
    "presets": [
      {
        "name":  "Banner Title Text Button",
        "data": {
          "title": "Title",
          "description": "Description",
          "url": "Button"
        }
      }
    ],
  }
{% endschema %}