<div>
  <h1>{{section.settings.title}}</h1>
  <p>{{section.settings.subtitle}}</p>
  </p>
  <a href="{{section.settings.url}}">{{section.settings.buttonText}}</a>
</div>

{% schema %}
{
"name": "Section",
"settings": [{
"type": "text",
"id": "title",
"label": "Title" }, 
{
"type": "text",
"id": "subtitle",
"label": "Subtitle" 
}, 
{
"type": "text",
"id": "buttonText",
"label": "button text" 
}, 
{
"type": "url",
"id": "url",
"label": "url" 
}],
"presets": [{
"name": "Telitaa"
}]
}


{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}