<div>
  <h1>TELA</h1>
  <p>TELITA</p>
  <a>TELA</a>
</div>

{% schema %}
{
  "name": "Section",
  "settings": [],
  "presets": [
  {
    "name": "telita"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
